fastapi==0.138.0
uvicorn[standard]
sqlalchemy==2.0.51
aiomysql
redis
celery==5.6.3
pydantic==2.13.4
python-multipart
httpx==0.28.1
python-dotenv==1.2.2
passlib[bcrypt]
python-jose[cryptography]
aiofiles==25.1.0
alembic==1.18.4
